*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Abril Fatface', serif;
    background-image: url(../img/luca-bravo-TaCk3NspYe0-unsplash.jpg);
    background-size: cover;
}

.general-content{
    border-radius: 20px;
    background-color: rgb(255, 170, 0);
    padding: 30px 50px;
    box-shadow: hsl(0, 0%, 0%) 0px 7px 29px 0px;
}

#button{
    padding: 10px 30px;
    border-radius: 50px;
    border: 0;
    background-color: rgb(255, 170, 0);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    border: 1px solid black;
}
   
#button:hover{
    letter-spacing: 3px;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    box-shadow: hsl(0, 0%, 0%) 0px 7px 29px 0px;
    border: none;
}
   
#button:active{
    letter-spacing: 3px;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}
